@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#leftDiv > img{
  position: absolute;
}
#target2 > img{
  position: absolute;
}
.centerDiv > img{
  position: absolute;
}

#myUserCard > img{
  transition: .2s all;
}
