@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#leftDiv > img{
  position: absolute;
}
#target2 > img{
  position: absolute;
}
.centerDiv > img{
  position: absolute;
}

#myUserCard > img, #otherUserCard > img{
  margin-left: -1.7rem;
}

#leftDiv > img, #target2 > img, #otherUserCard > img, #startGame > img{
  border-radius: 5px;
  border: 2px solid white;
}

.image-container {
  /* width: 50px;  The width of the visible area */
  height: 40px; /* The height of the visible area */
  overflow: hidden; /* Ensures the rest of the image is hidden */
  position: relative;
}

.partial-image {
  transform: scale(4);
  transform-origin: left top;
  overflow: hidden; /* Display the top-left part of the image */
  height: 100%;
  width: 20px;
}
